<!DOCTYPE html>
 <html>
     <head>
         <meta charset="UTF-8">
         <title>{% block title %}Oskar Wennström{% endblock %}</title>
         {% block stylesheets %}{% endblock %}
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
     </head>
     <body>
         {% block body %}
                 <div id="root">
                 
                 </div>

         {% endblock %}
          {% block javascripts %}
         
         <!-- Include the compiled script-->
            {{ encore_entry_script_tags('app') }}
             
         {% endblock %}
     </body>
 </html>
