<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <title>Oskar Wennström {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('appstyle') }}
        {% endblock %}  
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    </head>
    <body>
        <header>
            <div class="navbar">
                <a href="/" class="navbar-logo">Oskar Wennström</a>
                <ul class="desktop-menu">
                    <li><a href="/about">About me</a></li>
                    <li><a href="/experience">Experience<a/></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
                    <hr />

        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
         
         <!-- Include the compiled script-->
            {{ encore_entry_script_tags('app') }}
             
         {% endblock %}
    </body>
</html>
